<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Pawcio010</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/fakturyjanuszexpol</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<mapping resource = "klient.hbm.xml"/>
    	<mapping resource = "faktury.hbm.xml"/>
    	<mapping resource = "danedologowania.hbm.xml"/> 
        <mapping resource = "klient.hbm.xml"/>
        <mapping resource = "kontafirmowe.hbm.xml"/>
        <mapping resource = "produkty.hbm.xml"/>
        <mapping resource = "zawartoscfaktury.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
